<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="/src/instruments-list/instruments-list.html">    
<dom-module id="app-layout">    
    <template>
        <style include="shared-styles">  
</style>
    <div class="container">
        <div class="header">
          <h1 class="header-heading">Instruments Price Live</h1>
        </div> 
        <div class="content">
            <div class="main">              
                <instruments-list></instruments-list>
           </div>
        </div>
        <div class="footer">
              &copy; Copyright 2018
            </div>
        </div>
</template>
<script>

class AppLayout extends Polymer.Element{
    static get is() {return 'app-layout'}
    static get properties() {
        return {}
    }
}
window.customElements.define(AppLayout.is, AppLayout);
</script>
</dom-module> 