<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
    body
        {
          margin: 0;
          padding: 0;
          width:100%;
          color: #333;
          background-color: #eee;
          width:100%;
          font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
        }
        .container
        {
          width: 100%;
          margin: 0 auto;
          background-color:#f2efef
        }        
        .header
        {
          color:#D8E7E9;
          background: #555;
        }        
        .header-heading { margin: 0; }        
        .content { padding: 0px }        
        .footer
        {
          color: #fff;
          background: #000;
          padding: 1em 1.25em;
        }
        @media (min-width: 42em)
        {
          .header { padding: 1.5em 3em; }
          .content { padding: 2em 3em; }
          .footer { padding: 1em 2em; }
        }
    </style>
  </template>
</dom-module>
