<!-- This file is connectiong with websocket using sockjs and stompjs library-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="stomp-client">
    <template>
    <style>
        :host {
        display: none;
        }
    </style>
    </template>    
  
  <script src="../bower_components/sockjs/sockjs.min.js"></script>
  <script src="../bower_components/stomp-websocket/lib/stomp.min.js"></script>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class StompClient extends Polymer.Element {
      static get is() { return 'stomp-client'; }
      static get properties() {
        return {
            stompurl: {
            type: String,
            notify:true            
          },
          topic: {
            type: String,
            notify:true           
          }
        }; 
      }
      ready(){
       super.ready();
       this.connectSocket();      
      }  
      close() {
        if(this.socket)
            this.socket.close();
      }
	  connectSocket() {       

        if(this.socket)
            this.close();
        if(!this.stompurl || !this.topic)
            return;
        this.socket = new SockJS(this.stompurl);
        const stompClient = Stomp.over(this.socket)
        const topic = this.topic
        const self = this;
        stompClient.connect({}, function() {
            stompClient.subscribe(topic, function(message){
                self.dispatchEvent(new CustomEvent('updatemessage', {detail: JSON.parse(message.body)}));
            });
        });
	  }   
    }
    window.customElements.define(StompClient.is, StompClient);
  </script>
</dom-module>
