

#products {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    height: 90%;
    text-align: center;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }
  
  #products td, #products th {
    border: 1px solid rgb(221, 221, 221);
    padding:2px;
  }
  
  #products tr:nth-child(even){background-color: #ca9013;}
  
  #products tr:nth-child(odd){background-color: #ca9013;}

  #products tr:hover {background-color: rgb(128, 115, 0);}
  
  #products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5875d6;
    color: white;
  }
  