<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <table id="products">
        <tr>
          <th>Code</th>
          <th>Date</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let item of productList">
          <td>{{item.code}}</td>
          <td>{{item.price.when}}</td>
          <td>{{item.price.amount}}</td>
        </tr>
    </table>
</div>


