<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/async.html">
<!-- custom component for websocket handling code-->
<link rel="import" href="../stomp-client.html">

<!-- main wecomponent which doing ajax call for getting instrument list-->
<dom-module id="instruments-list">
  <template>
    <style>
    :host() {
      display: inline-block;
    }    
    .tbl {
        display: block;
        width: 100%;
    }
    .tblHeading, .tblRow{
        clear: both;
    }
    .tblHead{        
        font-weight: bold;
    }
    .tblCell, .tblHead {
        border-bottom: 1px solid #c9c7c7;
        float: left;
        height: 25px;
        overflow: hidden;
        padding: 3px 1.8%;
        width: 28%;
        font-family:OpenSans,sans-serif;
        font-size:17px;
    }
    .tbl:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }    
    .markTxt{
      background:yellow;
    }
    .amount{
      font-weight:bold;
    }
    .dateClass{
      color:red;
      font-style: italic;
      font-size:15px;
      padding-left:30px;
    }    

    </style>
    <!-- ajax for instrument list loading -->    
    <iron-ajax auto
    url="[[instrumentAjaxUrl]]"
    handle-as="json"
    on-response="_handleInstrumentsResponse"></iron-ajax>   
    
    <!--adding stomp client custom component as child component-->
    <stomp-client id="stompJsElement" 
    stompurl="[[stompurl]]" 
    topic="[[topic]]">
    </stomp-client>    
    <!-- instrument list -->   
  <div class="tbl">    
      <div class="tblRow">
          <div class="tblHead">Symbol</div>
          <div class="tblHead">Price</div>
          <div class="tblHead">Last Updated On</div>
      </div>         
    <template is="dom-repeat" items="{{instrumentObj}}">
        <div class="tblRow">
            <div class="tblRowChild">
              <div class="tblCell">[[item.code]]</div>
              <div class="tblCell amount"><span id="div[[index]]"> {{item.price.amount}} </span></div>
              <div class="tblCell dateClass">[[_formatDate(item.price.when)]]</div>
        </div> 
        </div>
    </template> 
    </div>
    <!-- Instrument List Ends-->
    </template>    
  <script>
    /**
     * @customElement
     * @polymer
     */
    class InstrumentsList extends Polymer.Element { 
      static get is() { return 'instruments-list'; }
      static get properties() {
        return {
          instrumentAjaxUrl: {
              type: String,
              value:"http://localhost:8080/instruments"
					},   
          stompurl: {
            type: String,
            value:"http://127.0.0.1:8080/stomp"
          },
          topic: {
            type: String,
            value:"/topic/update"
          },          
          instrumentObj: {
              type: Array
            }
          }; 
      }
      ready(){
        super.ready();  
        var self= this;
        // Adding event listener on child component and getting data(stomp connect )
        this.shadowRoot.getElementById('stompJsElement').addEventListener('updatemessage', function (e) {
        // getting updated messaage from websocket and updating instrumentobj
        var updateRowIndex = self.instrumentObj.findIndex(item => item.code == e.detail.code);
        self.set('instrumentObj.'+updateRowIndex+'.price.amount', e.detail.price.amount);
        self.set('instrumentObj.'+updateRowIndex+'.price.when',e.detail.price.when);  
        // highlighting the price
        self.highlightUpdatedPrice(updateRowIndex); 
        });    
      }  
      _handleInstrumentsResponse(event) {         
        this.instrumentObj = event.detail.response;             
      }
      _formatDate(dbTime) {
        let updateTime = new Date(dbTime); 
        let month = updateTime.getMonth()+1;
        return updateTime.getFullYear()+" " + month +"/"+ updateTime.getDate() 
        +", "+updateTime.getHours()+":"+updateTime.getMinutes()  + ":" + updateTime.getSeconds();       
      }
      highlightUpdatedPrice(index) {         
        Polymer.dom(this.root).querySelector('#div'+index).classList.add('markTxt');       
        Polymer.Async.timeOut.run(() => 
                    Polymer.dom(this.root).querySelector('#div'+index).classList.remove('markTxt'),800 );            
      }
    }
    window.customElements.define(InstrumentsList.is, InstrumentsList);  
  </script>
  
</dom-module>